<a href="https://colab.research.google.com/github/AlaaBouhaouel/ML_training/blob/ML/House_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [217]:
import pandas as pd
df=pd.read_csv('train.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [218]:
df.shape
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [219]:
df.nunique()

Id               1460
MSSubClass         15
MSZoning            5
LotFrontage       110
LotArea          1073
Street              2
Alley               2
LotShape            4
LandContour         4
Utilities           2
LotConfig           5
LandSlope           3
Neighborhood       25
Condition1          9
Condition2          8
BldgType            5
HouseStyle          8
OverallQual        10
OverallCond         9
YearBuilt         112
YearRemodAdd       61
RoofStyle           6
RoofMatl            8
Exterior1st        15
Exterior2nd        16
MasVnrType          3
MasVnrArea        327
ExterQual           4
ExterCond           5
Foundation          6
                 ...
BedroomAbvGr        8
KitchenAbvGr        4
KitchenQual         4
TotRmsAbvGrd       12
Functional          7
Fireplaces          4
FireplaceQu         5
GarageType          6
GarageYrBlt        97
GarageFinish        3
GarageCars          5
GarageArea        441
GarageQual          5
GarageCond          5
PavedDrive          3
WoodDeckSF        274
OpenPorchSF       202
EnclosedPorch     120
3SsnPorch          20
ScreenPorch        76
PoolArea            8
PoolQC              3
Fence               4
MiscFeature         4
MiscVal            21
MoSold             12
YrSold              5
SaleType            9
SaleCondition       6
SalePrice         663
Length: 81, dtype: int64

In [220]:
pd.options.display.min_rows = 81

df.isnull().sum()

Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType        872
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
                 ...
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
Length: 81, dtype: int64

In [221]:
df.drop(columns=['Alley','MiscFeature'],inplace=True)
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,NaN,NaN,0,12,2008,WD,Normal,250000

In [222]:
df['FireplaceQu']

0       NaN
1        TA
2        TA
3        Gd
4        TA
5       NaN
6        Gd
7        TA
8        TA
9        TA
10      NaN
11       Gd
12      NaN
13       Gd
14       Fa
15      NaN
16       TA
17      NaN
18      NaN
19      NaN
20       Gd
21       Gd
22       Gd
23       TA
24       TA
25       Gd
26      NaN
27       Gd
28       Gd
29      NaN
       ...
1430     Gd
1431    NaN
1432    NaN
1433     TA
1434     Gd
1435     Gd
1436    NaN
1437     Gd
1438    NaN
1439     TA
1440     Gd
1441     TA
1442     Ex
1443     Gd
1444    NaN
1445    NaN
1446    NaN
1447     TA
1448    NaN
1449    NaN
1450    NaN
1451     Gd
1452    NaN
1453    NaN
1454    NaN
1455     TA
1456     TA
1457     Gd
1458    NaN
1459    NaN
Name: FireplaceQu, Length: 1460, dtype: object

In [223]:
import numpy as np
df['FireplaceQu']=df['FireplaceQu'].replace(['Ex', 'Gd','TA','Fa',np.nan],
                        [8,6,4,2,0])

In [224]:
df['FireplaceQu']

0       0
1       4
2       4
3       6
4       4
5       0
6       6
7       4
8       4
9       4
10      0
11      6
12      0
13      6
14      2
15      0
16      4
17      0
18      0
19      0
20      6
21      6
22      6
23      4
24      4
25      6
26      0
27      6
28      6
29      0
       ..
1430    6
1431    0
1432    0
1433    4
1434    6
1435    6
1436    0
1437    6
1438    0
1439    4
1440    6
1441    4
1442    8
1443    6
1444    0
1445    0
1446    0
1447    4
1448    0
1449    0
1450    0
1451    6
1452    0
1453    0
1454    0
1455    4
1456    4
1457    6
1458    0
1459    0
Name: FireplaceQu, Length: 1460, dtype: object

In [225]:
df.nunique()

Id               1460
MSSubClass         15
MSZoning            5
LotFrontage       110
LotArea          1073
Street              2
LotShape            4
LandContour         4
Utilities           2
LotConfig           5
LandSlope           3
Neighborhood       25
Condition1          9
Condition2          8
BldgType            5
HouseStyle          8
OverallQual        10
OverallCond         9
YearBuilt         112
YearRemodAdd       61
RoofStyle           6
RoofMatl            8
Exterior1st        15
Exterior2nd        16
MasVnrType          3
MasVnrArea        327
ExterQual           4
ExterCond           5
Foundation          6
BsmtQual            4
                 ...
HalfBath            3
BedroomAbvGr        8
KitchenAbvGr        4
KitchenQual         4
TotRmsAbvGrd       12
Functional          7
Fireplaces          4
FireplaceQu         6
GarageType          6
GarageYrBlt        97
GarageFinish        3
GarageCars          5
GarageArea        441
GarageQual          5
GarageCond          5
PavedDrive          3
WoodDeckSF        274
OpenPorchSF       202
EnclosedPorch     120
3SsnPorch          20
ScreenPorch        76
PoolArea            8
PoolQC              3
Fence               4
MiscVal            21
MoSold             12
YrSold              5
SaleType            9
SaleCondition       6
SalePrice         663
Length: 79, dtype: int64

In [226]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,NaN,NaN,0,12,2008,WD,Normal,250000

In [227]:
df['HouseAge'] = df['YrSold'] - df['YearBuilt']
df.drop(columns=['YearBuilt'],inplace=True)

In [228]:
df['PropertyFrontageDensity']=df['LotFrontage']/df['LotArea']
df.drop(columns=['LotFrontage','LotArea'],inplace=True)

In [229]:
df['OverallScore']=df['OverallQual']*df['OverallCond']+df['YearRemodAdd']**2
df.drop(columns=['OverallQual','OverallCond','YearRemodAdd'],inplace=True)

In [230]:
#ExteriorScore = ExterQual_num * ExterCond_num
df['ExterQual']=df['ExterQual'].replace(['Ex', 'Gd','TA','Fa',np.nan],
                        [8,6,4,2,0])
df['ExterCond']=df['ExterCond'].replace(['Ex', 'Gd','TA','Fa',np.nan],
                        [8,6,4,2,0])

<ipython-input-230-2782062913>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['ExterQual']=df['ExterQual'].replace(['Ex', 'Gd','TA','Fa',np.nan],

In [231]:
df['ExterScore']=df['ExterQual']*df['ExterCond']
df.drop(columns=['ExterQual','ExterCond'],inplace=True)

In [232]:
df['BasementFinishedRatio']=(df['BsmtFinSF1']+df['BsmtFinSF2'])/df['TotalBsmtSF']
df.drop(columns=['BsmtFinSF1','BsmtFinSF2','TotalBsmtSF'],inplace=True)

In [233]:
df['BasementBathroomScore']=df['BsmtFullBath']+0.5*df['BsmtHalfBath']
df.drop(columns=['BsmtFullBath','BsmtHalfBath'],inplace=True)

In [234]:
df['TotalBathrooms']=df['FullBath']+0.5*df['HalfBath']+df['BasementBathroomScore']
df.drop(columns=['FullBath','HalfBath','BasementBathroomScore'],inplace=True)

In [235]:
df['RoomPerBedroomRatio']=df['TotRmsAbvGrd']/df['BedroomAbvGr']
df.drop(columns=['TotRmsAbvGrd','BedroomAbvGr'],inplace=True)

In [236]:
df['HasGarage'] = (df['GarageArea'] > 0).astype(int)

In [237]:
df['GarageType']=df['GarageType'].replace(['Attchd', 'Detchd','BuiltIn','CarPort','Basment',np.nan],
                        [5,3,4,2,1,0])

In [238]:
df['GarageQual']=df['GarageQual'].replace(['Ex', 'Gd','TA','Fa',np.nan],
                        [8,6,4,2,0])
df['GarageCond']=df['GarageCond'].replace(['Ex', 'Gd','TA','Fa',np.nan],
                        [8,6,4,2,0])
df['GarageFinish']=df['GarageFinish'].replace(['Fin', 'RFn','Unf',np.nan],
                        [3,2,1,0])

<ipython-input-238-3920243198>:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['GarageFinish']=df['GarageFinish'].replace(['Fin', 'RFn','Unf',np.nan],

In [239]:
# Replace NaN values in 'GarageYrBlt' with the corresponding values from 'YrSold'
df['GarageYrBlt'].fillna(df['YrSold'], inplace=True)

<ipython-input-239-4148891971>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['GarageYrBlt'].fillna(df['YrSold'], inplace=True)

In [240]:
df['GarageYrBlt']

0       2003.0
1       1976.0
2       2001.0
3       1998.0
4       2000.0
5       1993.0
6       2004.0
7       1973.0
8       1931.0
9       1939.0
10      1965.0
11      2005.0
12      1962.0
13      2006.0
14      1960.0
15      1991.0
16      1970.0
17      1967.0
18      2004.0
19      1958.0
20      2005.0
21      1930.0
22      2002.0
23      1976.0
24      1968.0
25      2007.0
26      2005.0
27      2008.0
28      1957.0
29      1920.0
         ...
1430    2005.0
1431    1976.0
1432    1928.0
1433    2000.0
1434    1977.0
1435    1962.0
1436    1974.0
1437    2008.0
1438    1957.0
1439    1979.0
1440    1993.0
1441    2004.0
1442    2008.0
1443    1916.0
1444    2004.0
1445    1990.0
1446    1962.0
1447    1995.0
1448    1950.0
1449    2006.0
1450    2009.0
1451    2008.0
1452    2005.0
1453    2006.0
1454    2004.0
1455    1999.0
1456    1978.0
1457    1941.0
1458    1950.0
1459    1965.0
Name: GarageYrBlt, Length: 1460, dtype: float64

In [241]:
# Ensure all columns used in the calculation are numeric
df['GarageArea'] = pd.to_numeric(df['GarageArea'], errors='coerce').fillna(0)
df['GarageCars'] = pd.to_numeric(df['GarageCars'], errors='coerce').fillna(0)
df['GarageQual'] = pd.to_numeric(df['GarageQual'], errors='coerce').fillna(0)
df['GarageCond'] = pd.to_numeric(df['GarageCond'], errors='coerce').fillna(0)
df['GarageFinish'] = pd.to_numeric(df['GarageFinish'], errors='coerce').fillna(0)
df['GarageType'] = pd.to_numeric(df['GarageType'], errors='coerce').fillna(0)

df['Garage0']=(df['GarageArea']*0.4)+(df['GarageCars']*0.2)+(df['GarageQual']*0.1)+(df['GarageCond']*0.1)+(df['GarageFinish']*0.1)+(df['GarageType']*0.05)

# Define the columns that were subject to pd.to_numeric and fillna
columns_to_check = ['GarageArea', 'GarageCars', 'GarageQual', 'GarageCond', 'GarageFinish', 'GarageType']

# Check for NaN values in these columns after conversion and filling
for col in columns_to_check:
    nan_count = df[col].isnull().sum()
    if nan_count > 0:
        print(f"Column '{col}' still has {nan_count} NaN values after conversion and filling. This should not happen if fillna(0) was successful.")

# You can also check the data types of these columns to confirm they are numeric
print("\nData types of the checked columns after conversion and filling:")
print(df[columns_to_check].dtypes)

Data types of the checked columns after conversion and filling:
GarageArea        int64
GarageCars        int64
GarageQual      float64
GarageCond      float64
GarageFinish    float64
GarageType      float64
dtype: object

In [242]:
df['Garagescore']=df['HasGarage']*(df['Garage0']// (1 +(-df['GarageYrBlt']+df['YrSold'])))

In [243]:
df=df.drop(columns=['GarageArea','GarageCars','GarageQual','GarageCond','GarageFinish','GarageType','GarageYrBlt','HasGarage','Garage0'])

In [244]:
df['TotalPorchSF']=df['OpenPorchSF']+df['EnclosedPorch']+df['3SsnPorch']+df['ScreenPorch']
df.drop(columns=['OpenPorchSF','EnclosedPorch','3SsnPorch','ScreenPorch'],inplace=True)

In [245]:

# Assuming your DataFrame is called df
df['HasPool'] = (df['PoolArea'] > 0).astype(int)
df['HasDeck'] = (df['WoodDeckSF'] > 0).astype(int)
df['HasFence'] = (df['Fence'].notna() & (df['Fence'] != 'None')).astype(int)

In [246]:
df.drop(columns=['WoodDeckSF','Fence'],inplace=True)

In [247]:
df['HasCentralAir'] = (df['CentralAir'] == 'Y').astype(int)

In [248]:
df.drop(columns=['CentralAir'],inplace=True)

In [249]:
utilities_map = {'AllPub': 2, 'NoSeWa': 1, 'ELO': 0, 'NoSewr': 0, 'None': 0}
paved_drive_map = {'Y': 2, 'P': 1, 'N': 0}
df['Utilities_num'] = df['Utilities'].map(utilities_map).fillna(0)
df['PavedDrive_num'] = df['PavedDrive'].map(paved_drive_map).fillna(0)

df['UtilityScore'] = df['Utilities_num'] + df['PavedDrive_num']

In [250]:
df['UtilityScore'].nunique()

3

In [251]:
df.drop(columns=['Utilities','PavedDrive','Utilities_num','PavedDrive_num'],inplace=True)

In [252]:
df['KitchenQual']=df['KitchenQual'].replace(['Ex', 'Gd','TA','Fa',np.nan],
                        [8,6,4,2,0])

<ipython-input-252-1750121073>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['KitchenQual']=df['KitchenQual'].replace(['Ex', 'Gd','TA','Fa',np.nan],

In [253]:
df['kitchenScore']=df['KitchenQual']*df['KitchenAbvGr']
df.drop(columns=['KitchenQual','KitchenAbvGr'],inplace=True)

In [254]:
df['PoolQC']=df['PoolQC'].replace(['Ex', 'Gd','TA','Fa',np.nan],
                        [8,6,4,2,0])

<ipython-input-254-2387994439>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['PoolQC']=df['PoolQC'].replace(['Ex', 'Gd','TA','Fa',np.nan],

In [255]:
df['PoolArea'].value_counts()

PoolArea
0      1453
512       1
648       1
576       1
555       1
480       1
519       1
738       1
Name: count, dtype: int64

In [256]:
df['poolScore']=df['HasPool']*df['PoolArea']+df['PoolQC']
df.drop(columns=['PoolArea','HasPool','PoolQC'],inplace=True)

In [257]:
df['poolScore'].value_counts()

poolScore
0.0      1453
520.0       1
650.0       1
582.0       1
563.0       1
486.0       1
521.0       1
744.0       1
Name: count, dtype: int64

In [259]:
df['FireplaceQu']=df['FireplaceQu'].replace(['Ex', 'Gd','TA','Fa',np.nan],
                        [8,6,4,2,0])

In [262]:
df['Fireplacescore']=df['Fireplaces']*df['FireplaceQu']
df.drop(columns=['Fireplaces','FireplaceQu'],inplace=True)

In [264]:
df['SaleDate'] = df['YrSold'] + (df['MoSold'] - 1) / 12
df.drop(columns=['YrSold','MoSold'],inplace=True)

In [280]:
df['SaleTypeEncoded'] = df['SaleType'].replace({
    'WD': 5, 'New': 4, 'COD': 3, 'Con': 2, 'Oth': 1,'ConLD':2,'ConLI':2,'ConLw':2,'CWD':4
})

df['SaleConditionEncoded'] = df['SaleCondition'].replace({
    'Normal': 5, 'Abnorml': 4, 'Partial': 3, 'AdjLand': 2, 'Alloca': 2,'Family':1
})

<ipython-input-280-2413884094>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['SaleTypeEncoded'] = df['SaleType'].replace({
<ipython-input-280-2413884094>:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['SaleConditionEncoded'] = df['SaleCondition'].replace({

In [281]:
df['SaleConditionEncoded'].value_counts()

SaleConditionEncoded
5    1198
3     125
4     101
1      20
2      16
Name: count, dtype: int64

In [282]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['SalePriceNormalized'] = scaler.fit_transform(df[['SalePrice']])

In [283]:
df['SaleScore'] = (df['SaleTypeEncoded'] * 0.4) + (df['SaleConditionEncoded'] * 0.3) + (df['SalePriceNormalized'] * 0.3)

In [284]:
df.drop(columns=['SaleTypeEncoded','SaleConditionEncoded','SalePriceNormalized','SaleType','SaleCondition'],inplace=True)

In [287]:
df['BsmtQualEncoded'] = df['BsmtQual'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, np.nan: 0})
df['BsmtCondEncoded'] = df['BsmtCond'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, np.nan: 0})
df['BsmtExposureEncoded'] = df['BsmtExposure'].replace({'Gd': 3, 'Av': 2, 'Mn': 1, 'No': 0, np.nan: 0})
df['BsmtFinType1Encoded'] = df['BsmtFinType1'].replace({'GLQ': 5, 'ALQ': 4, 'BLQ': 3, 'Rec': 2, 'LwQ': 1, 'Unf': 0, np.nan: 0})
df['BsmtFinType2Encoded'] = df['BsmtFinType2'].replace({'GLQ': 5, 'ALQ': 4, 'BLQ': 3, 'Rec': 2, 'LwQ': 1, 'Unf': 0, np.nan: 0})

<ipython-input-287-3088459494>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['BsmtQualEncoded'] = df['BsmtQual'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, np.nan: 0})
<ipython-input-287-3088459494>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['BsmtCondEncoded'] = df['BsmtCond'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, np.nan: 0})
<ipython-input-287-3088459494>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['BsmtExposureEncoded'] = df['BsmtExposure'].replace({'Gd': 3, 'Av': 2, 'Mn': 1, 'No': 0, np.nan: 0})
<ipython-input-287-3088459494>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['BsmtFinType1Encoded'] = df['BsmtFinType1'].replace({'GLQ': 5, 'ALQ': 4, 'BLQ': 3, 'Rec': 2, 'LwQ': 1, 'Unf': 0, np.nan: 0})
<ipython-input-287-3088459494>:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['BsmtFinType2Encoded'] = df['BsmtFinType2'].replace({'GLQ': 5, 'ALQ': 4, 'BLQ': 3, 'Rec': 2, 'LwQ': 1, 'Unf': 0, np.nan: 0})

In [294]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['BsmtUnfSFNormalized'] = scaler.fit_transform(df[['BsmtUnfSF']])

In [295]:
df['BasementScore'] = (df['BsmtQualEncoded'] * 0.3) + (df['BsmtCondEncoded'] * 0.2) + \
                      (df['BsmtExposureEncoded'] * 0.2) + (df['BsmtFinType1Encoded'] * 0.2) + \
                      (df['BsmtFinType2Encoded'] * 0.1) + (df['BsmtUnfSFNormalized'] * 0.2)

In [299]:
df.drop(columns=['BsmtQualEncoded','BsmtExposureEncoded','BsmtFinType2Encoded','BsmtUnfSFNormalized','BsmtFinType2','BsmtFinType1','BsmtExposure','BsmtCond','BsmtQual'],inplace=True)

In [313]:
df['StreetEncoded'] = df['Street'].replace({'Pave': 1, 'Grvl': 0})
df['LotShapeEncoded'] = df['LotShape'].replace({'Reg': 3, 'IR1': 2, 'IR2': 1, 'IR3': 0})
df['LandContourEncoded'] = df['LandContour'].replace({'Lvl': 3, 'Bnk': 2, 'HLS': 1, 'Low': 0})
df['LotConfigEncoded'] = df['LotConfig'].replace({'Inside': 3, 'Corner': 2, 'CulDSac': 1, 'FR2': 1, 'FR3': 0})
df['LandSlopeEncoded'] = df['LandSlope'].replace({'Gtl': 2, 'Mod': 1, 'Sev': 0})
df['Condition1Encoded'] = df['Condition1'].replace({'Norm': 3, 'Artery': 2, 'Feedr': 1, 'RRNn': 0, 'RRAn': -1,'RRNe': -2,'RRAe': -2,  'PosN': 4, 'PosA': 5})
df['Condition2Encoded'] = df['Condition2'].replace({'Norm': 3, 'Artery': 2, 'Feedr': 1, 'RRNn': 0, 'RRAn': -1, 'RRNe': -2,'RRAe': -2, 'PosN': 4, 'PosA': 5})

<ipython-input-313-3191193275>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['StreetEncoded'] = df['Street'].replace({'Pave': 1, 'Grvl': 0})
<ipython-input-313-3191193275>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['LotShapeEncoded'] = df['LotShape'].replace({'Reg': 3, 'IR1': 2, 'IR2': 1, 'IR3': 0})
<ipython-input-313-3191193275>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['LandContourEncoded'] = df['LandContour'].replace({'Lvl': 3, 'Bnk': 2, 'HLS': 1, 'Low': 0})
<ipython-input-313-3191193275>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['LotConfigEncoded'] = df['LotConfig'].replace({'Inside': 3, 'Corner': 2, 'CulDSac': 1, 'FR2': 1, 'FR3': 0})
<ipython-input-313-3191193275>:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['LandSlopeEncoded'] = df['LandSlope'].replace({'Gtl': 2, 'Mod': 1, 'Sev': 0})
<ipython-input-313-3191193275>:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Condition1Encoded'] = df['Condition1'].replace({'Norm': 3, 'Artery': 2, 'Feedr': 1, 'RRNn': 0, 'RRAn': -1,'RRNe': -2,'RRAe': -2,  'PosN': 4, 'PosA': 5})
<ipython-input-313-3191193275>:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Condition2Encoded'] = df['Condition2'].replace({'Norm': 3, 'Artery': 2, 'Feedr': 1, 'RRNn': 0, 'RRAn': -1, 'RRNe': -2,'RRAe': -2, 'PosN': 4, 'PosA': 5})

In [315]:
df['Condition2Encoded'].value_counts()

Condition2Encoded
 3    1445
 1       6
 2       2
 0       2
 4       2
 5       1
-1       1
-2       1
Name: count, dtype: int64

In [316]:
df['NeighborhoodEncoded'] = df.groupby('Neighborhood')['SalePrice'].transform('mean')

In [319]:
df['PropertyAccessibilityScore'] = (df['StreetEncoded'] * 0.2) +  \
                                   (df['LotShapeEncoded'] * 0.1) + (df['LandContourEncoded'] * 0.1) + \
                                   (df['LotConfigEncoded'] * 0.1) + (df['LandSlopeEncoded'] * 0.1) + \
                                   (df['Condition1Encoded'] * 0.1) + (df['Condition2Encoded'] * 0.1) + \
                                   (df['NeighborhoodEncoded'] * 0.3)

In [320]:
df.drop(columns=['StreetEncoded','LotShapeEncoded','LandContourEncoded','LotConfigEncoded','LandSlopeEncoded','Condition1Encoded','Condition2Encoded','NeighborhoodEncoded'],inplace=True)

In [326]:
df.drop(columns=['Id','Neighborhood','Condition1','Condition2'],inplace=True)

In [328]:
df.drop(columns=['BsmtUnfSF'],inplace=True)

In [345]:
df['BldgType']=df['BldgType'].replace({'1Fam': 5, 'TwnhsE': 4, 'Twnhs': 3, 'Duplex': 2, '2fmCon': 1})
df['HouseStyle']=df['HouseStyle'].replace({'2Story': 5, '1Story': 4, '1.5Fin': 3, 'SLvl': 2, 'SFoyer': 1,'1.5Unf': 2,'2.5Unf': 2,'2.5Fin': 3})
df['Foundation']=df['Foundation'].replace({'PConc': 5, 'Wood': 4,'CBlock': 4, 'BrkTil': 3, 'Slab': 2, 'Stone': 1})

<ipython-input-345-4258179808>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['HouseStyle']=df['HouseStyle'].replace({'2Story': 5, '1Story': 4, '1.5Fin': 3, 'SLvl': 2, 'SFoyer': 1,'1.5Unf': 2,'2.5Unf': 2,'2.5Fin': 3})

In [348]:
df['BuildingScore'] = df['BldgType'] + df['HouseStyle']+df['Foundation']

In [350]:
df.drop(columns=['BldgType','HouseStyle','Foundation'],inplace=True)

In [354]:
df['ExteriorScore'] = df['RoofStyle'].replace({'Hip': 5, 'Gable': 4, 'Flat': 3,'Gambrel': 3, 'Mansard': 2, 'Shed': 1}) + \
                      df['RoofMatl'].replace({'CompShg': 5, 'WdShngl': 4,'WoodShg': 4, 'ClyTile': 3,'Membran': 2,'Tar&Grv': 2, 'WdShake': 2, 'Metal': 1,'Roll': 1}) + \
                      df['Exterior1st'].replace({'VinylSd': 5,'HdBoard': 4,'MetalSd': 4,'Wd Sdng': 3,'Plywood': 3,'CemntBd': 4,'BrkFace': 5,'WdShing': 3,'Stucco': 3, 'AsbShng': 2,'BrkComm': 5,'Stone': 5, 'AsphShn': 1,'ImStucc': 2,'CBlock': 2 })

<ipython-input-354-1425088430>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['ExteriorScore'] = df['RoofStyle'].replace({'Hip': 5, 'Gable': 4, 'Flat': 3,'Gambrel': 3, 'Mansard': 2, 'Shed': 1}) + \
<ipython-input-354-1425088430>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['RoofMatl'].replace({'CompShg': 5, 'WdShngl': 4,'WoodShg': 4, 'ClyTile': 3,'Membran': 2,'Tar&Grv': 2, 'WdShake': 2, 'Metal': 1,'Roll': 1}) + \
<ipython-input-354-1425088430>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Exterior1st'].replace({'VinylSd': 5,'HdBoard': 4,'MetalSd': 4,'Wd Sdng': 3,'Plywood': 3,'CemntBd': 4,'BrkFace': 5,'WdShing': 3,'Stucco': 3, 'AsbShng': 2,'BrkComm': 5,'Stone': 5, 'AsphShn': 1,'ImStucc': 2,'CBlock': 2 })

In [358]:
df.drop(columns=['RoofStyle','RoofMatl','Exterior1st'],inplace=True)

In [362]:
df['UtilityScore'] = df['Heating'].replace({'GasA': 5, 'GasW': 4, 'Grav': 3, 'Wall': 2, 'OthW': 1, 'Floor': 0}) + df['HeatingQC'].replace({'Ex': 5, 'TA': 4, 'Gd': 3, 'Fa': 2, 'Po': 1}) + df['Electrical'].replace({'SBrkr': 5, 'FuseA': 4, 'FuseF': 3, 'FuseP': 2, 'Mix': 1})

<ipython-input-362-2109088462>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['UtilityScore'] = df['Heating'].replace({'GasA': 5, 'GasW': 4, 'Grav': 3, 'Wall': 2, 'OthW': 1, 'Floor': 0}) + df['HeatingQC'].replace({'Ex': 5, 'TA': 4, 'Gd': 3, 'Fa': 2, 'Po': 1}) + df['Electrical'].replace({'SBrkr': 5, 'FuseA': 4, 'FuseF': 3, 'FuseP': 2, 'Mix': 1})
<ipython-input-362-2109088462>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['UtilityScore'] = df['Heating'].replace({'GasA': 5, 'GasW': 4, 'Grav': 3, 'Wall': 2, 'OthW': 1, 'Floor': 0}) + df['HeatingQC'].replace({'Ex': 5, 'TA': 4, 'Gd': 3, 'Fa': 2, 'Po': 1}) + df['Electrical'].replace({'SBrkr': 5, 'FuseA': 4, 'FuseF': 3, 'FuseP': 2, 'Mix': 1})

In [363]:
df.drop(columns=['Heating','HeatingQC','Electrical'],inplace=True)

In [364]:
df['LivingSpaceScore'] = df['1stFlrSF'] + df['2ndFlrSF'] + df['GrLivArea'] - df['LowQualFinSF']

In [367]:
df.drop(columns=['1stFlrSF','2ndFlrSF','GrLivArea','LowQualFinSF'],inplace=True)

In [368]:
df['MasVnrType'].value_counts()

MasVnrType
BrkFace    445
Stone      128
BrkCmn      15
Name: count, dtype: int64

In [369]:
df['MasonryScore'] = df['MasVnrType'].replace({'BrkFace': 5, 'Stone': 4,'BrkCmn': 3, 'None': 0}) + df['MasVnrArea'].fillna(0)
df['MiscScore'] = df['MiscVal'].apply(lambda x: 1 if x > 0 else 0)

<ipython-input-369-3654028251>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['MasonryScore'] = df['MasVnrType'].replace({'BrkFace': 5, 'Stone': 4,'BrkCmn': 3, 'None': 0}) + df['MasVnrArea'].fillna(0)

In [370]:
df.drop(columns=['MasVnrType','MasVnrArea','MiscVal'],inplace=True)

In [388]:
df['MSZoningEncoded'] = df['MSZoning'].replace({'FV': 5, 'RL': 4, 'RH': 3, 'RM': 2, 'C (all)': 1})
df['StreetEncoded'] = df['Street'].replace({'Pave': 1, 'Grvl': 0})
df['LotShapeEncoded'] = df['LotShape'].replace({'Reg': 3, 'IR1': 2, 'IR2': 1, 'IR3': 0})
df['LandContourEncoded'] = df['LandContour'].replace({'Lvl': 3, 'Bnk': 2, 'HLS': 1, 'Low': 0})
df['LotConfigEncoded'] = df['LotConfig'].replace({'Inside': 3, 'Corner': 2, 'CulDSac': 1, 'FR2': 1, 'FR3': 0})
df['LandSlopeEncoded'] = df['LandSlope'].replace({'Gtl': 2, 'Mod': 1, 'Sev': 0})
df['Exterior2ndEncoded'] = df['Exterior2nd'].replace({'VinylSd': 5, 'HdBoard': 4, 'MetalSd': 4,'Wd Shng': 3,  'Wd Sdng': 3, 'Plywood': 3, 'CmentBd': 4, 'BrkFace': 5, 'WdShing': 3, 'Stucco': 3, 'AsbShng': 2, 'Brk Cmn': 3, 'Stone': 5, 'AsphShn': 1, 'ImStucc': 2, 'CBlock': 2,'Other': 1 })

<ipython-input-388-2974330070>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['MSZoningEncoded'] = df['MSZoning'].replace({'FV': 5, 'RL': 4, 'RH': 3, 'RM': 2, 'C (all)': 1})
<ipython-input-388-2974330070>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['StreetEncoded'] = df['Street'].replace({'Pave': 1, 'Grvl': 0})
<ipython-input-388-2974330070>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['LotShapeEncoded'] = df['LotShape'].replace({'Reg': 3, 'IR1': 2, 'IR2': 1, 'IR3': 0})
<ipython-input-388-2974330070>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['LandContourEncoded'] = df['LandContour'].replace({'Lvl': 3, 'Bnk': 2, 'HLS': 1, 'Low': 0})
<ipython-input-388-2974330070>:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['LotConfigEncoded'] = df['LotConfig'].replace({'Inside': 3, 'Corner': 2, 'CulDSac': 1, 'FR2': 1, 'FR3': 0})
<ipython-input-388-2974330070>:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['LandSlopeEncoded'] = df['LandSlope'].replace({'Gtl': 2, 'Mod': 1, 'Sev': 0})
<ipython-input-388-2974330070>:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Exterior2ndEncoded'] = df['Exterior2nd'].replace({'VinylSd': 5, 'HdBoard': 4, 'MetalSd': 4,'Wd Shng': 3,  'Wd Sdng': 3, 'Plywood': 3, 'CmentBd': 4, 'BrkFace': 5, 'WdShing': 3, 'Stucco': 3, 'AsbShng': 2, 'Brk Cmn': 3, 'Stone': 5, 'AsphShn': 1, 'ImStucc': 2, 'CBlock': 2,'Other': 1 })

In [389]:
df['Exterior2ndEncoded'].value_counts()

Exterior2ndEncoded
5    534
4    481
3    410
2     31
1      4
Name: count, dtype: int64

In [390]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['MSSubClassNormalized'] = scaler.fit_transform(df[['MSSubClass']])

In [391]:
df['PropertyScore'] = (df['MSSubClassNormalized'] * 0.3) + (df['MSZoningEncoded'] * 0.2) + \
                      (df['StreetEncoded'] * 0.1) + (df['LotShapeEncoded'] * 0.1) + \
                      (df['LandContourEncoded'] * 0.1) + (df['LotConfigEncoded'] * 0.1) + \
                      (df['LandSlopeEncoded'] * 0.1) + (df['Exterior2ndEncoded'] * 0.3)

In [393]:
df.drop(columns=['MSSubClassNormalized','MSZoningEncoded','StreetEncoded','LotShapeEncoded','LandContourEncoded','LotConfigEncoded','LandSlopeEncoded','Exterior2ndEncoded'],inplace=True)

In [396]:
df.drop(columns=['Exterior2nd','MSSubClass','MSZoning','Street','LotShape','LandContour','LotConfig','LandSlope'],inplace=True)

In [407]:
df['Functional'] = df['Functional'].replace({
    'Typ': 5,   # Typical functionality (no issues)
    'Min2': 4,  # Minor issues (needs slight adjustments)
    'Min1': 3,  # Minor issues (more noticeable but manageable)
    'Mod': 2,   # Moderate issues (affects usability)
    'Maj1': 1,  # Major issues (significant impact)
    'Maj2': 0,  # Severe issues (requires major repairs)
    'Sev': -1   # Extreme issues (almost unusable)
})
df.drop(columns=['FunctionalEncoded'],inplace=True)

In [433]:
pd.set_option("display.max_columns", None)
df.head()
df.describe()

,Functional,HouseAge,PropertyFrontageDensity,OverallScore,BasementFinishedRatio,TotalBathrooms,RoomPerBedroomRatio,Garagescore,TotalPorchSF,HasDeck,HasFence,HasCentralAir,UtilityScore,kitchenScore,poolScore,SaleDate,SaleScore,BsmtCondEncoded,BsmtFinType1Encoded,BasementScore,PropertyAccessibilityScore,BuildingScore,ExteriorScore,LivingSpaceScore,MasonryScore,MiscScore,PropertyScore
count,1460.000000,1460.000000,1460.000000,1460.000000,1423.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1459.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,4.843836,36.547945,0.196714,0.579231,0.448697,0.242123,2.360274,35.563014,0.084795,0.478767,0.192466,0.934932,14.124743,5.206849,2.784932,2008.259247,3.383779,2.934932,2.571233,2.355072,0.347857,12.963699,13.227397,0.221481,0.139731,0.035616,3.114085
std,0.663549,30.250152,0.060343,0.343990,0.361698,0.157080,0.686465,72.364563,0.102425,0.499720,0.394372,0.246731,1.128049,1.478549,40.544972,1.314303,0.378399,0.552159,2.070649,0.727260,0.247883,1.656829,1.121326,0.098185,0.083054,0.185395,0.349004
min,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,0.000000,2006.000000,1.624413,0.000000,0.000000,0.000000,0.000000,6.000000,6.000000,0.000000,0.000000,0.000000,2.000000
25%,5.000000,8.000000,0.173508,0.280285,0.000000,0.200000,2.000000,2.000000,0.000000,0.000000,0.000000,1.000000,14.000000,4.000000,0.000000,2007.250000,3.524017,3.000000,0.000000,1.883048,0.161440,12.000000,13.000000,0.148785,0.126483,0.000000,2.900000
50%,5.000000,35.000000,0.192492,0.730347,0.517730,0.200000,2.333333,6.000000,0.046738,0.000000,0.000000,1.000000,14.000000,6.000000,0.000000,2008.333333,3.545035,3.000000,3.000000,2.327911,0.371655,13.000000,13.000000,0.211756,0.126483,0.000000,3.117647
75%,5.000000,54.000000,0.209464,0.898592,0.770568,0.300000,2.500000,27.000000,0.132425,1.000000,0.000000,1.000000,15.000000,6.000000,0.000000,2009.416667,3.564616,3.000000,5.000000,2.855993,0.419862,14.000000,14.000000,0.271524,0.126483,0.000000,3.400000
max,5.000000,136.000000,1.000000,1.000000,1.000000,1.000000,9.000000,568.000000,1.000000,1.000000,1.000000,1.000000,15.000000,12.000000,744.000000,2010.500000,3.800000,4.000000,5.000000,4.167466,1.000000,15.000000,15.000000,1.000000,1.000000,1.000000,3.947059

In [432]:
df['PropertyFrontageDensity'].isna().sum()
df['PropertyFrontageDensity'].fillna(df['PropertyFrontageDensity'].median(), inplace=True)
df['RoomPerBedroomRatio'] = df['RoomPerBedroomRatio'].replace([np.inf, -np.inf], np.nan).fillna(1.0)

<ipython-input-432-3493382336>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PropertyFrontageDensity'].fillna(df['PropertyFrontageDensity'].median(), inplace=True)

In [413]:
df['OverallScore'] = scaler.fit_transform(df[['OverallScore']])

In [415]:
df['PropertyFrontageDensity'] = scaler.fit_transform(df[['PropertyFrontageDensity']])

In [417]:
df['TotalBathrooms'] = scaler.fit_transform(df[['TotalBathrooms']])

In [419]:
df['PropertyAccessibilityScore'] = scaler.fit_transform(df[['PropertyAccessibilityScore']])

In [424]:

df['TotalPorchSF'] = scaler.fit_transform(df[['TotalPorchSF']])

In [425]:
df['LivingSpaceScore'] = scaler.fit_transform(df[['LivingSpaceScore']])

In [426]:
df['MasonryScore'] = scaler.fit_transform(df[['MasonryScore']])

In [412]:
df['MasonryScore'].fillna(df['MasonryScore'].median(), inplace=True)  # Fill with median value
df['MasonryScore'].value_counts()

<ipython-input-412-3558041723>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['MasonryScore'].fillna(df['MasonryScore'].median(), inplace=True)  # Fill with median value

MasonryScore
206.5    872
125.0      7
185.0      7
21.0       6
85.0       6
104.0      6
113.0      6
325.0      5
365.0      5
110.0      5
175.0      5
77.0       5
345.0      4
201.0      4
257.0      4
121.0      4
153.0      4
80.0       4
45.0       4
461.0      4
173.0      4
137.0      3
150.0      3
220.0      3
109.0      3
430.0      3
355.0      3
76.0       3
170.0      3
89.0       3
        ...
239.0      1
68.0       1
78.0       1
771.0      1
37.0       1
4.0        1
96.0       1
559.0      1
223.0      1
637.0      1
119.0      1
571.0      1
364.0      1
115.0      1
456.0      1
20.0       1
710.0      1
413.0      1
249.0      1
178.0      1
128.0      1
736.0      1
425.0      1
247.0      1
453.0      1
315.0      1
101.0      1
443.0      1
198.0      1
123.0      1
Name: count, Length: 351, dtype: int64

In [406]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Functional                  1460 non-null   int64
 1   HouseAge                    1460 non-null   int64
 2   PropertyFrontageDensity     1201 non-null   float64
 3   OverallScore                1460 non-null   int64
 4   ExterScore                  1460 non-null   object
 5   BasementFinishedRatio       1423 non-null   float64
 6   TotalBathrooms              1460 non-null   float64
 7   RoomPerBedroomRatio         1460 non-null   float64
 8   Garagescore                 1460 non-null   float64
 9   TotalPorchSF                1460 non-null   int64
 10  HasDeck                     1460 non-null   int64
 11  HasFence                    1460 non-null   int64
 12  HasCentralAir               1460 non-null   int64
 13  UtilityScore                1459 non-null   float64
 14  kitchenScore                1460 non-null   int64
 15  poolScore                   1460 non-null   float64
 16  Fireplacescore              1460 non-null   object
 17  SaleDate                    1460 non-null   float64
 18  SaleScore                   1460 non-null   float64
 19  BsmtCondEncoded             1460 non-null   float64
 20  BsmtFinType1Encoded         1460 non-null   float64
 21  BasementScore               1460 non-null   float64
 22  PropertyAccessibilityScore  1460 non-null   float64
 23  BuildingScore               1460 non-null   int64
 24  ExteriorScore               1460 non-null   int64
 25  LivingSpaceScore            1460 non-null   int64
 26  MasonryScore                588 non-null    float64
 27  MiscScore                   1460 non-null   int64
 28  PropertyScore               1460 non-null   float64
 29  FunctionalEncoded           1460 non-null   int64
dtypes: float64(15), int64(13), object(2)
memory usage: 342.3+ KB

In [434]:
df.to_csv('finalized_data.csv')